{% extends 'base.html' %}


{% block content %}
<h2 class=''>Update records for your habits!</h2>
<div class='' >
<form action="{% url 'add_record' month=date.month day=date.day year=date.year   pk=habit.pk %}" method="POST">
    {% csrf_token %}
    {{form.as_p}}
</div>

    <div class=''>
        <button class='' type="submit">update record</button>
    </div>
    <p class=''>
        <a href="{% url 'add_record' year=prev_day.year month=prev_day.month day=prev_day.day pk=habit.pk%}">{{ prev_day }}</a> |
        <a href="{% url 'add_record' year=next_day.year month=next_day.month day=next_day.day pk=habit.pk%}">{{ next_day }}</a>
      </p>
</form>
{% endblock %}